* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background: white;
}

.logo {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 18, 30, 0.2190126050420168) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
